<ion-list>

	<ion-item-sliding #slidingItem class="animated fadeInDown" *ngFor="let lista of _deseosServicio.listas  | filtroCompletado:terminada; let i=index">

		<ion-item-options side="left">

			<button ion-button color="warning" icon-only (click)=editarLista(lista,slidingItem)>
				<ion-icon name="create"></ion-icon>
			</button>

		</ion-item-options>

		<button ion-item (click)="listaSeleccionada(lista)">
			{{ lista.titulo }}
			<ion-note item-end>
				{{ lista.items.length }} items
			</ion-note>
		</button>

		<ion-item-options side="right">

			<button ion-button color="danger" icon-only (click)=borrarLista(lista)>
				<ion-icon name="close"></ion-icon>
			</button>

		</ion-item-options>
	</ion-item-sliding>




</ion-list>
